<div class="row">
    <div class="col xs-12">
        <div class="btn btn-success">New Recipe</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 d-flex">
        <a href="#" class="list-group-item clearfix">
            <div class="d-flex justify-content-end">
                <h4 class="list-group-item-heading">Recipe Name</h4>
                <p class="list-group-item-text"></p>
            </div>
            <span class="d-flex justify-content-end">
                <img src="" alt="" class="img-responsive">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>

